@media (min-width: 1370px) and (max-width: 1525px) {

    .hero-video {
        top: 10px;
    }

    .pos {
        bottom: 56px;
        z-index: -1;
        height: 32rem;
    }

    .glow-hero {
        height: 557px;
        top: 27rem;
    }

    .proj1 {
        height: 435px;
    }

    .test {
        font-size: 30px;
    }
}
@media (min-width: 979px) and (max-width:1370px) {
    .pos {
        height: 25rem;
        bottom: -32px;
    }

    .hero-video {
        /* width: 85%; */
        top: 10px;
    }

    .hero-pos {
        left: 9rem;
        top: 244px;
    }

    .glow-hero {
        height: 427px;
        top: 30rem;
    }

    .prop1 {
        font-size: 13px;
    }

    .prop2 {
        font-size: 36px;
    }

    .proj1 {
        width: 348px;
        height: 400px;
        margin-left: 6rem;
    }

    .tilt1 {
        margin-left: 10rem;
        font-size: 11px;
    }

    .proj2 {
        margin-left: 95px;
        width: 199px;
        height: 389px;
    }

    .tilt2 {
        margin-left: 9rem;
        font-size: 11px;
    }

    .tilt3 {
        font-size: 11px;
    }

    .test {
        font-size: 28px;
    }

    .colon {
        height: 51px;
        width: 52px;
    }

    .test-video {
        width: 236px;
        height: 291px;
    }

    .pos1 img {
        height: 10rem;
    }

}
@media (min-width: 760px) and (max-width: 1256px) {
    .prop1 {
        font-size: 12px;
    }

    .prop2 {
        font-size: 34px;
    }

    .proj1 {
        width: 280px;
        height: 295px;
    }

    .proj2 {
        width: 175px;
        height: 333px;
        margin-left: 55px;
    }

    .proj3 {
        width: 317px;
        height: 240px;
    }

    .tilt1 {
        margin-left: 9rem;
    }

    .tilt2 {
        font-size: 12px !important;
        margin-left: 7.5rem;
    }

    .tilt3 {
        font-size: 12px;
        margin-left: 4rem;
    }

    .test {
        font-size: 25px;
    }

    .test-video {
        width: 180px;
        height: 212px;
    }

    .colon {
        height: 36px;
        width: 36px;
    }

    .pos1 {
        height: 100rem;
    }

    .line {
        top: 845px;
    }

    .pos1 {
        height: 57rem;
        top: 46rem;
    }
    .skill-alpha {
        font-size: 50px;
    }
    .skill-num-outline {
        font-size: 66px;
    }
    .skill-num-tilt {
        padding-bottom: 68px;
        padding-top: 2px;
        padding-right: 40px;
        padding-left: 40px;
        left: -79px;
        font-size: 40px;
        width: 115px;
        height: 65px;
    }
}
@media (min-width: 760px) and (max-width: 992px) {
    .company-name {
        width: 238px;
        height: 39px;
    }

    .icon-size {
        width: 50px;
        height: 39px;
    }

    .hero-pos {
        top: 142px;
        left: 6rem;
    }

    .hero-video {
        /* width: 70%; */
    }

    .glow-hero {
        height: 373px;
        top: 26rem;
    }

    .pos {
        bottom: -91px;
        height: 17rem;
    }

    .hero-main {
        height: 754px;
    }

    .marq {
        bottom: -37px;
    }

    .tilt1 {
        width: 60%;
        margin-left: 7rem;
        font-size: 10px;
    }

    .proj1 {
        width: 234px;
        height: 258px;
        margin-left: 5rem;
    }

    .proj2 {
        width: 130px;
        height: 244px;
        margin-left: 33px;
        top: 75px;
    }

    .tilt2 {
        font-size: 9px !important;
        margin-left: 5.5rem;
        top: 64px;
    }

    .proj3 {
        width: 281px;
        height: 213px;
    }

    .tilt3 {
        font-size: 10px;
    }

    .line {
        top: 735px;
    }

    .pos1 {
        height: 52rem;
        top: 40rem;
    }
    .strap{
        height: 127px;
    }
    .num,.outline{
        font-size: 70px;
    }
    .num1{
        font-size: 25px;
    }
}
@media (min-width: 767px) and (max-width: 850px) {
    .prop1 {
        font-size: 10px;
    }

    .prop2 {
        font-size: 24px;
    }

    .proj1 {
        width: 210px;
        height: 225px;
        margin-left: 0rem;
    }

    .proj2 {
        width: 114px;
        height: 216px;
    }

    .proj3 {
        width: 251px;
        height: 192px;
    }

    .tilt1,
    .tilt2,
    .tilt3 {
        font-size: 9px !important;
    }

    .tilt1 {
        width: 70%;
        margin-left: 2rem;
    }

    .tilt2 {
        margin-left: 4.5rem;
        width: 56%;
    }

    .tilt3 {
        width: 70%;
        margin-left: 3rem;
    }

    .test {
        font-size: 20px;
    }

    .test-video {
        width: 149px;
        height: 197px;
    }

    .line {
        top: 661px;
    }

    .pos1 {
        height: 44rem;
        top: 34rem;
    }
    .skill-alpha {
        font-size: 40px;
    }
    .skill-num-outline {
        font-size: 50px;
    }
    .skill-num-tilt {
        padding-bottom: 3px;
        padding-top: 3px;

        padding-left: 20px;
        left: -49px;
        font-size: 40px;
        width: 94px;
        height: 67px;
    }

}
@media (min-width: 760px) and (max-width: 767px) {
    .proj1 {
        width: 202px;
        height: 212px;
        margin-left: 1rem;
    }

    .tilt1 {
        width: 60%;
        margin-left: 3rem;
        font-size: 8px;
        padding: 10px;

    }

    .proj2 {
        width: 126px;
        height: 243px;
        margin-left: 11px;
        top: 61px;
    }

    .tilt2 {
        font-size: 7px !important;
        margin-left: 4rem;
        top: 55px;
        padding: 10px;

    }

    .proj3 {
        width: 225px;
        height: 171px;
    }

    .tilt3 {
        font-size: 8px;
        margin-left: 3rem;
        padding: 10px;

    }
    .skill-alpha {
        font-size: 40px;
    }
    .skill-num-outline {
        font-size: 50px;
    }
    .skill-num-tilt {
        padding-bottom: 3px;
        padding-top: 3px;
        padding-right: 20px;
        padding-left: 20px;
        left: -80px;
        font-size: 40px;
        width: 94px;
        height: 67px;
    }
}
@media (min-width: 500px) and (max-width: 760px) {
    .company-name {
        width: 214px;
        height: 34px;
    }

    .icon-size {
        width: 40px;
        height: 39px;
    }

    .hero-pos {
        top: 52px;
        left: 6rem;
    }

    .hero-main {
        height: 602px;
    }

    .hero-video {
        /* width: 70%; */
    }

    .glow-hero {
        height: 373px;
        top: 16rem;
    }

    .pos {
        bottom: -91px;
        height: 14rem;
    }

    .marq {
        bottom: -63px;
    }

    .prop1 {
        font-size: 8px;
    }

    .prop2 {
        font-size: 22px;
    }

    .proj1 {
        width: 173px;
        height: 187px;
        margin-left: 1rem;
    }

    .tilt1 {
        width: 60% !important;
        margin-left: 3rem !important;
        font-size: 7px;
        padding: 10px;
    }

    .proj2 {
        width: 106px;
        height: 197px;
        top: 62px;
        margin-left: 12px;
    }

    .tilt2 {
        margin-left: 3.5rem;
        top: 37px;
        width: 50%;
        font-size: 7px;
        padding: 10px;
    }

    .proj3 {
        width: 179px;
        height: 136px;

    }

    .tilt3 {
        margin-left: 2.5rem;
        top: -13px;
        width: 65%;
        font-size: 7px;
        padding: 10px;
    }

    .test {
        font-size: 18px;
        width: 95%;
    }

    .test-video {
        width: 126px;
        height: 140px;
        bottom: 28rem;
    }

    .colon {
        height: 28px;
        width: 29px;
    }

    .line {
        top: 608px;
    }

    .pos1 {
        top: 32rem;
        z-index: -1;
        height: 40rem;
    }
    .strap{
        height: 109px;
    }
    .num,.outline{
        font-size: 60px;
    }
    .num1{
        font-size: 18px;
    }
    .skill-alpha {
        font-size: 30px;
    }
    .skill-num-outline {
        font-size: 40px;
    }
    .skill-num-tilt {
        padding-bottom: 3px;
        padding-top: 3px;
        padding-right: 21px;
    padding-left: 21px;
    left: -72px;
    bottom: 24px;
    font-size: 30px;
    width: 73px;
    height: 53px;
    }
}
@media (min-width: 500px) and (max-width: 600px) {
    .proj1 {
        width: 143px;
        height: 156px;
    }

    .proj2 {
        width: 92px;
        height: 175px;
        margin-left: 8px;
    }

    .tilt1,
    .tilt2,
    .tilt3 {
        padding: 6.5px !important;
        font-size: 6px;
    }

    .tilt2 {
        margin-left: 2.6rem;
        top: 54px;
        font-size: 5px;
    }

    .proj3 {
        width: 170px;
        height: 129px;
    }

    .tilt3 {
        font-size: 0.3rem;
    }

    .test-video {
        width: 105px;
right: 1rem;
        height: 164px;
    }
    .skill-alpha {
        font-size: 20px;
    }
    .skill-num-outline {
        font-size: 30px;
    }
}
@media (min-width: 200px) and (max-width: 500px) {
    .company-name {
        width: 165px;
        height: 28px;
    }

    .icon-size {
        width: 36px;
        height: 37px;
    }

    .hero-pos {
        top: 52px;
        left: 4rem;
    }

    .hero-main {
        height: 520px;
    }

    .glow-hero {
        height: 285px;
        top: 16rem;
    }

    .pos {
        bottom: -91px;
        height: 11rem;
    }

    .marq {
        bottom: -25px;
        height: 84px;
        font-size: 36px;
    }

    .prop1 {
        font-size: 9px;
    }

    .prop2 {
        font-size: 18px;
    }

    .proj1 {
        width: 129px;
        height: 126px;
        margin-left: 0rem;
    }

    .tilt1 {
        margin-left: 1.2rem;
        top: -5px;

        width: 70%;
        font-size: 7px;
    }

    .proj2 {
        width: 76px;
        height: 144px;
        margin-left: 8px;
        top: 43px;
    }

    .tilt1,
    .tilt2,
    .tilt3 {
        padding: 2px !important;
        max-width: 80%;
    }

    .tilt2 {
        margin-left: 2.2rem;
        top: 34px;
        max-width: 60%;
        font-size: 5px;
    }

    .proj3 {
        width: 137px;
        height: 103px;
    }

    .tilt3 {
        margin-left: 2rem;
        font-size: 0.3rem;
    }

    .test-video {
        width: 137px;
bottom: 25rem;
right: 1rem;
        height: 73px;

    }

    .test {
        font-size: 12px;
        width: 95%;
    }

    .colon {
        height: 28px;
        width: 29px;
    }

    .line {
        top: 505px;
    }

    .pos1 {
        top: 29rem;
        height: 33rem;
    }

    .test-prop1 {
        font-size: 7px;
    }

    .test-prop2 {
        font-size: 17px;
    }
    .strap{
        height: 86px;
    }
    .num,.outline{
        font-size: 40px;
    }
    .num1{
        font-size: 11px;
        top: -6px;
    }
    .skill-alpha {
        font-size: 15px;
        margin-top: 16px;
        margin-bottom: 16px ;
    }
    .skill-num-outline {
        font-size: 25px;
    }
    .skill-num-tilt {
        padding-bottom: 3px;
        padding-top: 3px;
        padding-right: 21px;
    padding-left: 21px;
    left: -46px;
    bottom: 17px;
    font-size: 20px;
    width: 60px;
    height: 39px;
    }
}
@media (min-width: 300px) and (max-width: 430px) {
    .mobile-padding {
        padding: 1.5rem !important;
    }

    .proj1 {
        width: 101px;
        height: 108px;
        margin-left: -2rem;
    }

    .tilt1 {
        width: 95% !important;
        margin-left: -0.5rem;
        font-size: 5px;
    }

    .proj2 {
        width: 61px;
        height: 115px;
        margin-left: 3px;
        top: 37px;
    }

    .tilt2 {
        margin-left: 1.2rem;
    }

    .proj3 {
        width: 114px;
        height: 86px;
    }

    .tilt3 {
        margin-left: 1rem;
        width: 100%;
    }

    .line {
        top: 419px;
    }

    .pos1 {
        top: 410px;
        z-index: -1;
        height: 496.1px;
    }

    .test-video {

        width: 57px;
        height: 69px;
    }
}
@media (min-width: 380px) and (max-width: 384px) {
    .pos1 {
        top: 379px;
        height: 489.1px;
    }
}
@media (min-width: 300px) and (max-width: 380px) {
    .pos1 {
        top: 359px;
        height: 444.9px;
    }

    .test-video {
        width: 69px;
        height: 85px;
    }

    .test {
        font-size: 10px;
    }

    .test-prop2 {
        font-size: 12px;
    }
    .skill-alpha{
        font-size: 10px;
    }
    .skill-num-outline {
        font-size: 20px;
    }
    .skill-num-tilt{
        padding-left: 21px;
    }
}
@media (min-width: 100px) and (max-width: 300px) {
    .marq {
        height: 66px;
        font-size: 30px;
    }

    .mobile-padding {
        padding: 1rem !important;
    }

    .tilt1,
    .tilt2,
    .tilt3 {
        padding: 1px !important;
    }

    .proj1 {
        width: 86px;
        height: 88px;
        margin-left: 0rem;
    }

    .tilt1 {
        margin-left: 4px;
        top: -5px;
        width: 100%;
        font-size: 4px;
    }

    .proj2 {
        width: 51px;
        height: 96px;
        top: 22px;
    }
    .tilt2 {
        top: 21px;
        font-size: 3.5px;
        margin-left: 1.3rem;
        width: 60%;
    }
    .proj3 {
        width: 91px;
        height: 68px;
    }
    .tilt3 {
        font-size: 0.2rem;
        width: 100%;
        margin-left: 0.5rem;
    }
    .pos1 {
        top: 20rem;
        height: 24rem;
    }
    .test-video {
        width: 47px;
        height: 140px;
    }
    .m-left-105 {
        margin-left: 36px;
    }
    .user-pos {
        font-size: 12px;
        top: 3.6rem;
    }
    .test-prop2{
        font-size: 15px;
    }
    .strap{
        height: 65px;
    }
    .num,.outline{
        font-size: 11px;
    }
    .num1{
        font-size: 11px;
        top: -6px;
    }
    .skill-alpha{
        font-size: 8px;
    }
    .skill-num-tilt{
        padding-left: 15px;
        left: -24px;
        bottom: 26px;
        font-size: 10px;
        width: 39px;
        height: 23px;
    }
    .skill-num-outline {
        font-size: 10px;
    }
}