*{
    font-family: sans-serif;

}
.box-p{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.hero-pos{
    top: 219px;
    left: 14rem;
}

.marq{
    color: white;
    bottom:50px;
    background-color:#7752FE;
    height: 120px;
    font-size: 46px;
    font-weight: 500;
    z-index: 1;
}

.plus{
    height: 30px;
    width: 30px;
    vertical-align: baseline;
}

.txt-purple{
color: #7752FE;

}
.prop1{
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
margin-bottom: 0;
}

.prop2{
    color: white;
    font-size: 46px;
    font-weight: 600;
    
}

.tilt{
    background-color: #7752FE;
    display: inline-block;
    transform: rotate(-3deg);
    /* margin-bottom: 5rem; */
    color: white;
}

.proj1{
    width: 442px;
    height: 298px;
    margin-left: 10rem;   /*Creating issue of overflow in small device, need media query*/
}

.proj2{
    width: 228px;
    height: 435px;
    position: relative;
    top: 97px;
    margin-left: 200px;
}

.proj3{
    width: 385px;
    height: 291px;
}

.box-tilt{
    background-color: #7752FE;
    border: 2px solid #7752FE ;
    display: block;
    position: relative;
    transform: rotate(-3deg);
}
.tilt1{
    margin-left: 15rem;
    top: -6px;
    color: white;
    text-align: center;
    width: 60%;
    font-size: 20px;
}
.tilt2{
    margin-left: 14rem;
    top: 92px;
    color: white;
    text-align: center;
    width: 50%;
    font-size: 20px;
}
.tilt3{
    margin-left: 6rem;
    top: -6px;
    color: white;
    text-align: center;
    width: 65%;
    font-size: 1rem;
}


.pos{
    bottom: 56px;
    z-index: -1;
    height: 39rem;
}

.pos1{
    top: 52rem;
z-index: -1;
}

.line {
    position: relative;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #7752FE, rgba(0, 0, 0, 0));
    top: 999px;
}

.line-pos {
    top: 32px;
}

.line-pos2{
    top: 117px;
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
}

.line::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(to left, #000, rgba(0, 0, 0, 0));
  }

  .m-left-105{
    margin-left: 105px;
  }
.colon{
    height: 60px;
    width: 63px;
}

.test{
    font-size: 36px;
    width: 85%;
    color: white;
    font-weight: 600;
    position: relative;
    top: 25px;
}

.user{
    height: 56px;
    width: 56px;
}

.user-pos{
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: 3.3rem;
    left: 0.4rem;
}
.strap{
height: 173px;
background-color: #7752FE;
margin-left: 0px;
margin-right: 0px;
}

.strap1{
    position: relative;
    bottom: 0px;
    height: 80px;
    background-color: #7752FE;
    margin-left: 0px;
    margin-right: 0px;
}

.num{
font-size: 96px;
color: white;
}
.num1{
    position: relative;
    top: -29px;
    font-size: 40px;
    color: white;
    }
.outline{
    font-size: 96px;
    font-weight: 600;
    
    color: #7752FE ;
    text-shadow:
		-1px -1px 0 #ffffff,
		1px -1px 0 #ffffff,
		-1px 1px 0 #ffffff,
		1px 1px 0 #ffffff;
}
.pos2{
    top: 182rem;
    z-index: -1;
    right: 0.07999999999999433px;
    height: 530px;
}

.skill-border{
    border: 4px solid #7752FE;
    border-radius: 20px;
}

.skill-num-tilt{
position: relative;
padding-top: 10px;
padding-bottom: 100px;
padding-right: 40px;
padding-left: 40px;
width: 148px;
height: 92px;
font-size: 60px;
bottom: 39px;
left: -105px;
transform: rotate(-11deg);
}
.skill-num-outline{
    font-size: 96px;
    font-weight: 500;
    text-shadow:
		-1px -1px 0 #ffffff,
		1px -1px 0 #ffffff,
		-1px 1px 0 #ffffff,
		1px 1px 0 #ffffff;
}

.skill-alpha{
    color: #ffffff;
    font-size: 80px;
    font-weight: 500;
}

.pos3{
    bottom: -232rem;
    z-index: -1;
    right: -0.5px;
    height: 24rem;
}

.pos4{
    bottom: -240rem;
    z-index: -1;
    height: 34rem;

}

.con-p-prop{
font-family: SF Pro Display;
font-size: 150px;
font-weight: 400;
line-height: 150px;
letter-spacing: 0em;
text-align: center;
}

.glow-hero{
    height: 675px;
    top: 21rem;
    z-index: -1;
}
.test-video{
    left: -7rem;
    width: 341px;
    height: 341px;
}

.hero-video{
    z-index: -1;
    height: 39rem;
    width: 100%;

}